
node_modules
dist
.DS_Store

# VitePress
docs/.vitepress/cache/*
docs/.vitepress/dist/*
.vitepress/*

*.html
!templates/*.html
*.pdf

# NSIS Installer
*.exe
installer/node-v22.17.1-win-x64/*
!installer/inkdown.bat.in